---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import ProcessGrid from "@/components/ProcessGrid.astro";
import HardwareBar from "@/components/HardwareBar.astro";
import BenefitsSplit from "@/components/BenefitsSplit.astro";
import FeaturesChecklist from "@/components/FeaturesChecklist.tsx";
import SoftwareShowcase from "@/components/SoftwareShowcase.tsx";
import UseCases from "@/components/UseCases.tsx";
import Gallery from "@/components/Gallery.tsx";
import QuoteForm from "@/components/QuoteForm.tsx";
---

<Layout>
  <main>
    <Hero />
    <ProcessGrid />
    <HardwareBar />
    <BenefitsSplit />
    <FeaturesChecklist client:visible />
    <SoftwareShowcase client:visible />
    <UseCases client:visible />
    <Gallery client:visible />
    <QuoteForm client:visible />
  </main>
</Layout>
